<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.earth.mapper.MemberMapper">
		<insert id="memberJoin" >
			insert into tb_user values(#{user_name},#{user_nickname},#{user_email},#{user_pw})
		</insert>
		
		<insert id="dogInsert">
			insert into tb_doginfo values(#{user_email},#{dog_name})
		</insert>
		
		<!-- 강아지 정보 기입 -->
		<insert id="dogJoin">
			insert into tb_doginfo values(#{dog_name},#{dog_birth},#{dog_gender},#{dog_nutd},#{dog_breed},#{dog_regnum},#{dog_address},#{dog_feature})
		</insert>

		<!-- 아이디 중복검사 -->
  		<select id="emailCheck" resultType="int">
  	
  		select count(*) 
  		from tb_user 
  		where user_email = #{user_email}
  	
  		</select>
  		
  		<!-- 닉네임 중복검사 -->
  		<select id="nickNameCheck" resultType="int">
  	
  		select count(*) 
  		from tb_user 
  		where user_nickname = #{user_nickname}
  	
  		</select>
  		
  		<!-- 닉네임 중복검사 -->
  		<select id="dogNameCheck" resultType="int">
  	
  		select count(*) 
  		from dog_info 
  		where dog_name = #{dog_name}
  	
  		</select>
  		
  		<select id="memberLogin" resultType="com.earth.domain.MemberInfoDto">
  			select *
  			from tb_user t
  			join tb_doginfo d
  			on t.user_email = d.user_email 
  			where t.user_email = #{user_email} and t.user_pw = #{user_pw}
  		</select>
  		
  		<!-- 회원정보 수정 -->
		<update id="memberUpdate">
			UPDATE tb_user SET 
			user_pw = #{user_pw},
			user_nickname = #{user_nickname},
			user_pnum = #{user_pnum},
			user_birth = #{user_birth},
			user_gender = #{user_gender},
			user_address = #{user_address}
			WHERE user_email = #{user_email}
		</update>
		
		<!-- 강아지 정보 수정 -->
		<update id="dogUpdate">
			UPDATE tb_doginfo SET 
			dog_name = #{dog_name},
			dog_birth = #{dog_birth},
			dog_gender = #{dog_gender},
			dog_nutd = #{dog_nutd},
			dog_breed = #{dog_breed},
			dog_regnum = #{dog_regnum},
			dog_address = #{dog_address},
			dog_feature = #{dog_feature}
			WHERE user_email = #{user_email}
		</update>
  </mapper>





