<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.earth.domain.MemberDto" alias="MemberDto"/>
		<typeAlias type="com.earth.domain.DogDto" alias="DogDto"/>
		<typeAlias type="com.earth.domain.MapVo" alias="MapVo"/>
    	<typeAlias type="com.earth.domain.ComuDTO" alias="ComuDTO"/>
    	<typeAlias type="com.earth.domain.CommentDTO" alias="CommentDTO"/>
    	<typeAlias type="com.earth.domain.SearchItem" alias="SearchItem"/>
    	<typeAlias type="com.earth.domain.SearchItem" alias="SearchItem"/>
    	<typeAlias type="com.earth.domain.ImageDto" alias="img"/>
	</typeAliases>
</configuration>  